body.dark {
    background-color: #6d6452;
    color: white;
  }
  
  body.light {
    background-color: white;
    color: black;
  }
  
  
  /* Appliquer les variables globales */
  body {
      margin: 0;
      padding: 0;
      font-family: Inknut Antiqua, serif;
      background-color: var(--background-color);
      color: var(--text-color);
      transition: background-color 0.3s ease, color 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
  }
  
  /* Bouton amélioré */
  .dark-mode-btn {
      padding: 10px 15px;
      font-size: 14px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: #000000;
      color: white;
      transition: background-color 0.3s ease, transform 0.2s ease;
      margin: 10px;
  }
  
  .dark-mode-btn:hover {
      background-color: #053016;
      color: beige;
      transform: scale(1.1);
  }
  
  
  /* Styles pour images et texte */
  img, p {
      max-width: 100%;
      margin: 10px 0;
  }
  
  /* Bouton mode sombre amélioré */
  .dark-mode-btn {
      padding: 4px 8px; /* Ajustement pour une taille plus petite */
      font-size: 10px;
      font-family: 'Inknut Antiqua', serif;
      font-weight: bold;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      background-color: #000000;
      color: white;
      transition: background-color 0.3s ease, transform 0.2s ease;
      
      /* Positionnement en haut à droite */
      position: fixed;
      top: 10px;
      right: 10px;
  }
  
  .dark-mode-btn:hover {
      background-color: #053016;
      color: beige;
      transform: scale(1.1);
  }
  