.menu {
    font-style: "Inknut Antiqua", serif;;
  }
  
  .navbar-dark {
    background-color: black;
  }
  
  .navbar-dark .nav-link {
    color: white !important;
    font-size: x-large; /* Augmentation de la taille de la police */
  }
  
  .navbar-dark .dropdown-item {
    color: rgb(2, 2, 2) !important;
    font-weight: 200;
    font-size: x-large; /* Agrandir la taille du texte */
  }
  
  .navbar-dark .navbar-brand {
    color: white !important;
    font-size: xx-large;
  }
  
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .font-style {
    font-size: 60px; 
    font-weight: 600; 
    letter-spacing: 0.5px; 
  }
  
  .navbar-custom {
    width: 100%; 
    min-height: 70px; 
    padding: 0px 0px; 
  }
  @media (max-width: 768px) {
    .navbar-custom {
      flex-direction: column; /* Ajustement pour petits écrans */
      align-items: center;
    }
  }
  
  .nav-link {
    line-height: 80px; 
    font-size: xx-large; 
  }
  